<a href="https://colab.research.google.com/github/mohdshahbaaz059/data-science-project/blob/main/cricsheet_Data_Analysis!unzip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://cricsheet.org/downloads/india_male_json.zip

--2023-04-29 22:22:00--  https://cricsheet.org/downloads/india_male_json.zip
Resolving cricsheet.org (cricsheet.org)... 64.90.49.16
Connecting to cricsheet.org (cricsheet.org)|64.90.49.16|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5225523 (5.0M) [application/zip]
Saving to: ‘india_male_json.zip’

india_male_json.zip 100%[===================>]   4.98M  9.39MB/s    in 0.5s

2023-04-29 22:22:01 (9.39 MB/s) - ‘india_male_json.zip’ saved [5225523/5225523]

In [2]:
!unzip india_male_json.zip

Archive:  india_male_json.zip
  inflating: README.txt
  inflating: 255954.json
  inflating: 287862.json
  inflating: 287865.json
  inflating: 287873.json
  inflating: 287876.json
  inflating: 287878.json
  inflating: 287879.json
  inflating: 297800.json
  inflating: 291352.json
  inflating: 291353.json
  inflating: 291354.json
  inflating: 291356.json
  inflating: 332911.json
  inflating: 332912.json
  inflating: 332913.json
  inflating: 343729.json
  inflating: 343730.json
  inflating: 343731.json
  inflating: 345669.json
  inflating: 345670.json
  inflating: 345671.json
  inflating: 345672.json
  inflating: 361050.json
  inflating: 361051.json
  inflating: 386530.json
  inflating: 386531.json
  inflating: 386532.json
  inflating: 386533.json
  inflating: 386534.json
  inflating: 386535.json
  inflating: 386494.json
  inflating: 366622.json
  inflating: 366623.json
  inflating: 366626.json
  inflating: 366627.json
  inflating: 366624.json
  inflating: 366625.json
  inflating: 366628.json
  inflating: 386496.json
  inflating: 366629.json
  inflating: 355994.json
  inflating: 356001.json
  inflating: 356006.json
  inflating: 356010.json
  inflating: 356014.json
  inflating: 377313.json
  inflating: 377314.json
  inflating: 377315.json
  inflating: 377316.json
  inflating: 403382.json
  inflating: 403381.json
  inflating: 403383.json
  inflating: 415278.json
  inflating: 415281.json
  inflating: 415284.json
  inflating: 416236.json
  inflating: 416237.json
  inflating: 416238.json
  inflating: 416239.json
  inflating: 416240.json
  inflating: 416241.json
  inflating: 430881.json
  inflating: 430882.json
  inflating: 430883.json
  inflating: 430884.json
  inflating: 430885.json
  inflating: 430886.json
  inflating: 430887.json
  inflating: 430888.json
  inflating: 430889.json
  inflating: 430890.json
  inflating: 434259.json
  inflating: 434260.json
  inflating: 434262.json
  inflating: 434263.json
  inflating: 434264.json
  inflating: 434256.json
  inflating: 434257.json
  inflating: 441825.json
  inflating: 441826.json
  inflating: 441827.json
  inflating: 441828.json
  inflating: 441829.json
  inflating: 412679.json
  inflating: 412682.json
  inflating: 412691.json
  inflating: 412695.json
  inflating: 412699.json
  inflating: 452146.json
  inflating: 452147.json
  inflating: 452149.json
  inflating: 452150.json
  inflating: 452153.json
  inflating: 452154.json
  inflating: 455232.json
  inflating: 455234.json
  inflating: 455236.json
  inflating: 455237.json
  inflating: 456669.json
  inflating: 456670.json
  inflating: 456671.json
  inflating: 456662.json
  inflating: 456663.json
  inflating: 456666.json
  inflating: 456665.json
  inflating: 456668.json
  inflating: 464526.json
  inflating: 464527.json
  inflating: 464529.json
  inflating: 464531.json
  inflating: 464532.json
  inflating: 464533.json
  inflating: 467883.json
  inflating: 467884.json
  inflating: 467885.json
  inflating: 467886.json
  inflating: 467887.json
  inflating: 463146.json
  inflating: 463147.json
  inflating: 463148.json
  inflating: 463149.json
  inflating: 463150.json
  inflating: 463151.json
  inflating: 463152.json
  inflating: 463153.json
  inflating: 463154.json
  inflating: 433558.json
  inflating: 433568.json
  inflating: 433578.json
  inflating: 433582.json
  inflating: 433586.json
  inflating: 433599.json
  inflating: 433601.json
  inflating: 433605.json
  inflating: 433606.json
  inflating: 489220.json
  inflating: 489221.json
  inflating: 489222.json
  inflating: 489223.json
  inflating: 489224.json
  inflating: 489225.json
  inflating: 489226.json
  inflating: 489227.json
  inflating: 489228.json
  inflating: 474472.json
  inflating: 474473.json
  inflating: 474474.json
  inflating: 474475.json
  inflating: 474476.json
  inflating: 474477.json
  inflating: 474478.json
  inflating: 474479.json
  inflating: 474480.json
  inflating: 474481.json
  inflating: 521218.json
  inflating: 521219.json
  inflating: 521220.json
  inflating: 521221.json
  inflating: 521222.json
  inflating: 521217.json
  inflating: 535997.json
  inflating: 535998.json
  inflating: 535999.json
  inflating: 536929.json
  inflating: 536930.json
  inflating: 536931.json
  inflating: 536932.json
  inflating: 536933.json
  inflating: 518950.json
  inflating: 518951.json
  inflating: 518952.json
  inflating: 518953.json
  inflating: 518954.json
  inflating: 518955.json
  inflating: 518956.json
  inflating: 518957.json
  inflating: 518959.json
  inflating: 518960.json
  inflating: 518962.json
  inflating: 518963.json
  inflating: 518965.json
  inflating: 518966.json
  inflating: 535795.json
  inflating: 535797.json
  inflating: 535798.json
  inflating: 556252.json
  inflating: 564781.json
  inflating: 564782.json
  inflating: 564783.json
  inflating: 564784.json
  inflating: 564785.json
  inflating: 564786.json
  inflating: 565817.json
  inflating: 565818.json
  inflating: 565820.json
  inflating: 533274.json
  inflating: 533281.json
  inflating: 533287.json
  inflating: 533291.json
  inflating: 533295.json
  inflating: 565806.json
  inflating: 565807.json
  inflating: 565808.json
  inflating: 565809.json
  inflating: 565810.json
  inflating: 565811.json
  inflating: 589306.json
  inflating: 589307.json
  inflating: 589308.json
  inflating: 589309.json
  inflating: 589310.json
  inflating: 565812.json
  inflating: 565813.json
  inflating: 565814.json
  inflating: 565815.json
  inflating: 565816.json
  inflating: 598812.json
  inflating: 598813.json
  inflating: 598814.json
  inflating: 598815.json
  inflating: 578614.json
  inflating: 578619.json
  inflating: 578623.json
  inflating: 566947.json
  inflating: 566948.json
  inflating: 597924.json
  inflating: 597925.json
  inflating: 597926.json
  inflating: 597928.json
  inflating: 597929.json
  inflating: 643665.json
  inflating: 643667.json
  inflating: 643669.json
  inflating: 643675.json
  inflating: 643677.json
  inflating: 647247.json
  inflating: 647249.json
  inflating: 647251.json
  inflating: 647253.json
  inflating: 647255.json
  inflating: 647259.json
  inflating: 647261.json
  inflating: 676525.json
  inflating: 676527.json
  inflating: 676529.json
  inflating: 676531.json
  inflating: 676533.json
  inflating: 648651.json
  inflating: 648653.json
  inflating: 648655.json
  inflating: 648665.json
  inflating: 648667.json
  inflating: 667641.json
  inflating: 667643.json
  inflating: 667645.json
  inflating: 667647.json
  inflating: 667649.json
  inflating: 667651.json
  inflating: 667653.json
  inflating: 710293.json
  inflating: 710297.json
  inflating: 710301.json
  inflating: 710307.json
  inflating: 682921.json
  inflating: 682929.json
  inflating: 682943.json
  inflating: 682951.json
  inflating: 682963.json
  inflating: 682965.json
  inflating: 744679.json
  inflating: 744681.json
  inflating: 744683.json
  inflating: 667711.json
  inflating: 667713.json
  inflating: 667715.json
  inflating: 667717.json
  inflating: 667719.json
  inflating: 667723.json
  inflating: 667725.json
  inflating: 667727.json
  inflating: 667729.json
  inflating: 667731.json
  inflating: 770121.json
  inflating: 770123.json
  inflating: 770127.json
  inflating: 792289.json
  inflating: 792291.json
  inflating: 792293.json
  inflating: 792295.json
  inflating: 792297.json
  inflating: 754737.json
  inflating: 754739.json
  inflating: 754741.json
  inflating: 754743.json
  inflating: 754749.json
  inflating: 754753.json
  inflating: 754757.json
  inflating: 754759.json
  inflating: 656405.json
  inflating: 656423.json
  inflating: 656439.json
  inflating: 656453.json
  inflating: 656465.json
  inflating: 656475.json
  inflating: 656485.json
  inflating: 656493.json
  inflating: 361043.json
  inflating: 361044.json
  inflating: 361045.json
  inflating: 361046.json
  inflating: 361047.json
  inflating: 870729.json
  inflating: 870731.json
  inflating: 870733.json
  inflating: 870735.json
  inflating: 885959.json
  inflating: 885965.json
  inflating: 885967.json
  inflating: 885969.json
  inflating: 885971.json
  inflating: 895773.json
  inflating: 343736.json
  inflating: 366341.json
  inflating: 343734.json
  inflating: 343733.json
  inflating: 343732.json
  inflating: 335349.json
  inflating: 335351.json
  inflating: 335352.json
  inflating: 335355.json
  inflating: 335356.json
  inflating: 335358.json
  inflating: 895775.json
  inflating: 345471.json
  inflating: 345470.json
  inflating: 345469.json
  inflating: 291372.json
  inflating: 291371.json
  inflating: 291369.json
  inflating: 291368.json
  inflating: 291366.json
  inflating: 291365.json
  inflating: 291362.json
  inflating: 291360.json
  inflating: 291359.json
  inflating: 895777.json
  inflating: 297805.json
  inflating: 297804.json
  inflating: 297803.json
  inflating: 297802.json
  inflating: 297801.json
  inflating: 297799.json
  inflating: 297798.json
  inflating: 297797.json
  inflating: 297796.json
  inflating: 297795.json
  inflating: 297794.json
  inflating: 297793.json
  inflating: 258476.json
  inflating: 258475.json
  inflating: 258474.json
  inflating: 258473.json
  inflating: 258472.json
  inflating: 258471.json
  inflating: 275789.json
  inflating: 293078.json
  inflating: 293077.json
  inflating: 293076.json
  inflating: 293071.json
  inflating: 247464.json
  inflating: 247468.json
  inflating: 247476.json
  inflating: 903587.json
  inflating: 267708.json
  inflating: 267709.json
  inflating: 267710.json
  inflating: 267712.json
  inflating: 267713.json
  inflating: 267715.json
  inflating: 282688.json
  inflating: 282689.json
  inflating: 903589.json
  inflating: 903593.json
  inflating: 903595.json
  inflating: 249214.json
  inflating: 249213.json
  inflating: 249212.json
  inflating: 249211.json
  inflating: 249756.json
  inflating: 249753.json
  inflating: 903597.json
  inflating: 903599.json
  inflating: 249745.json
  inflating: 903601.json
  inflating: 903605.json
  inflating: 256614.json
  inflating: 256612.json
  inflating: 256608.json
  inflating: 256607.json
  inflating: 256665.json
  inflating: 903607.json
  inflating: 903609.json
  inflating: 903603.json
  inflating: 239919.json
  inflating: 239918.json
  inflating: 239917.json
  inflating: 895807.json
  inflating: 895809.json
  inflating: 895811.json
  inflating: 895813.json
  inflating: 895817.json
  inflating: 895815.json
  inflating: 895819.json
  inflating: 895821.json
  inflating: 963697.json
  inflating: 963699.json
  inflating: 963701.json
  inflating: 966745.json
  inflating: 966751.json
  inflating: 966757.json
  inflating: 966761.json
  inflating: 966765.json
  inflating: 951329.json
  inflating: 951341.json
  inflating: 951353.json
  inflating: 951363.json
  inflating: 951371.json
  inflating: 1007649.json
  inflating: 1007651.json
  inflating: 1007653.json
  inflating: 239916.json
  inflating: 1007655.json
  inflating: 244511.json
  inflating: 244510.json
  inflating: 238194.json
  inflating: 238193.json
  inflating: 238190.json
  inflating: 238189.json
  inflating: 238188.json
  inflating: 1007657.json
  inflating: 1007659.json
  inflating: 237571.json
  inflating: 237222.json
  inflating: 236809.json
  inflating: 236520.json
  inflating: 235831.json
  inflating: 1022593.json
  inflating: 1022595.json
  inflating: 1022597.json
  inflating: 1022599.json
  inflating: 1041615.json
  inflating: 1041617.json
  inflating: 1030213.json
  inflating: 1030215.json
  inflating: 1030219.json
  inflating: 1030221.json
  inflating: 1030223.json
  inflating: 1030225.json
  inflating: 1030227.json
  inflating: 1034809.json
  inflating: 1034811.json
  inflating: 1034813.json
  inflating: 1034815.json
  inflating: 1034817.json
  inflating: 1030217.json
  inflating: 1034819.json
  inflating: 1034821.json
  inflating: 1034823.json
  inflating: 1034825.json
  inflating: 1034827.json
  inflating: 1034829.json
  inflating: 1041761.json
  inflating: 1062573.json
  inflating: 1062574.json
  inflating: 1062575.json
  inflating: 1062576.json
  inflating: 1022353.json
  inflating: 1022361.json
  inflating: 1022367.json
  inflating: 1022373.json
  inflating: 1022375.json
  inflating: 1098206.json
  inflating: 1098207.json
  inflating: 1098208.json
  inflating: 1098209.json
  inflating: 1098210.json
  inflating: 1098211.json
  inflating: 1144490.json
  inflating: 1144496.json
  inflating: 1144504.json
  inflating: 1144510.json
  inflating: 1144516.json
  inflating: 1144520.json
  inflating: 1144522.json
  inflating: 1144526.json
  inflating: 1144528.json
  inflating: 1188621.json
  inflating: 1188622.json
  inflating: 1188624.json
  inflating: 1188625.json
  inflating: 1188626.json
  inflating: 1188628.json
  inflating: 1188629.json
  inflating: 1187005.json
  inflating: 1187006.json
  inflating: 1187007.json
  inflating: 1187008.json
  inflating: 1187009.json
  inflating: 1187013.json
  inflating: 1187014.json
  inflating: 1187015.json
  inflating: 1187016.json
  inflating: 1187017.json
  inflating: 1187018.json
  inflating: 1187019.json
  inflating: 1187020.json
  inflating: 1187021.json
  inflating: 1187022.json
  inflating: 1187023.json
  inflating: 1168246.json
  inflating: 1168243.json
  inflating: 1168244.json
  inflating: 1168248.json
  inflating: 1202243.json
  inflating: 1202244.json
  inflating: 1187027.json
  inflating: 1187028.json
  inflating: 1187029.json
  inflating: 1187677.json
  inflating: 1187678.json
  inflating: 1187679.json
  inflating: 1187680.json
  inflating: 1187681.json
  inflating: 1187682.json
  inflating: 1187683.json
  inflating: 1187684.json
  inflating: 1187685.json
  inflating: 1187686.json
  inflating: 1153696.json
  inflating: 1153697.json
  inflating: 1153698.json
  inflating: 1168247.json
  inflating: 1144997.json
  inflating: 1144998.json
  inflating: 1144999.json
  inflating: 1153691.json
  inflating: 1153692.json
  inflating: 1153693.json
  inflating: 1153694.json
  inflating: 1153695.json
  inflating: 1168242.json
  inflating: 1144995.json
  inflating: 1144996.json
  inflating: 1157756.json
  inflating: 1157757.json
  inflating: 1157758.json
  inflating: 1119546.json
  inflating: 1119547.json
  inflating: 1119548.json
  inflating: 1122279.json
  inflating: 1122280.json
  inflating: 1122281.json
  inflating: 1122282.json
  inflating: 1122283.json
  inflating: 1122284.json
  inflating: 1109605.json
  inflating: 1109606.json
  inflating: 1109607.json
  inflating: 1109608.json
  inflating: 1109609.json
  inflating: 1153246.json
  inflating: 1153247.json
  inflating: 1153249.json
  inflating: 1153251.json
  inflating: 1153253.json
  inflating: 1153255.json
  inflating: 1119496.json
  inflating: 1119497.json
  inflating: 1119498.json
  inflating: 1119499.json
  inflating: 1119500.json
  inflating: 1120090.json
  inflating: 1120091.json
  inflating: 1120092.json
  inflating: 1122726.json
  inflating: 1122727.json
  inflating: 1122728.json
  inflating: 1157754.json
  inflating: 1157755.json
  inflating: 1157760.json
  inflating: 1157759.json
  inflating: 1157761.json
  inflating: 1119543.json
  inflating: 1119544.json
  inflating: 1119545.json
  inflating: 1122285.json
  inflating: 1122287.json
  inflating: 1133817.json
  inflating: 1133818.json
  inflating: 1133820.json
  inflating: 1133821.json
  inflating: 1133823.json
  inflating: 1140992.json
  inflating: 1140993.json
  inflating: 1144990.json
  inflating: 1144991.json
  inflating: 1144992.json
  inflating: 1119549.json
  inflating: 1119550.json
  inflating: 1119551.json
  inflating: 1119552.json
  inflating: 1119553.json
  inflating: 1122276.json
  inflating: 1122277.json
  inflating: 1122278.json
  inflating: 1133983.json
  inflating: 1144994.json
  inflating: 1157752.json
  inflating: 1157753.json
  inflating: 1144993.json
  inflating: 1109610.json
  inflating: 1119502.json
  inflating: 1119501.json
  inflating: 1120093.json
  inflating: 1120094.json
  inflating: 1120095.json
  inflating: 1122729.json
  inflating: 1122730.json
  inflating: 1122731.json
  inflating: 1109602.json
  inflating: 1109603.json
  inflating: 1109604.json
  inflating: 1122723.json
  inflating: 1122724.json
  inflating: 1122725.json
  inflating: 249216.json
  inflating: 249217.json
  inflating: 258468.json
  inflating: 258469.json
  inflating: 258470.json
  inflating: 282691.json
  inflating: 282692.json
  inflating: 291351.json
  inflating: 297806.json
  inflating: 297807.json
  inflating: 297808.json
  inflating: 233797.json
  inflating: 234783.json
  inflating: 239025.json
  inflating: 239920.json
  inflating: 239921.json
  inflating: 239922.json
  inflating: 239923.json
  inflating: 249215.json
  inflating: 1223955.json
  inflating: 1223956.json
  inflating: 64939.json
  inflating: 64941.json
  inflating: 64942.json
  inflating: 64943.json
  inflating: 1223957.json
  inflating: 1223952.json
  inflating: 214742.json
  inflating: 64917.json
  inflating: 217481.json
  inflating: 217979.json
  inflating: 218250.json
  inflating: 223018.json
  inflating: 223334.json
  inflating: 223902.json
  inflating: 224231.json
  inflating: 224556.json
  inflating: 225437.json
  inflating: 225959.json
  inflating: 226359.json
  inflating: 1223953.json
  inflating: 1223954.json
  inflating: 219062.json
  inflating: 1223869.json
  inflating: 1223870.json
  inflating: 1223871.json
  inflating: 1223872.json
  inflating: 1243384.json
  inflating: 1243385.json
  inflating: 1243386.json
  inflating: 1243387.json
  inflating: 64882.json
  inflating: 64883.json
  inflating: 64884.json
  inflating: 64885.json
  inflating: 64914.json
  inflating: 65032.json
  inflating: 65033.json
  inflating: 65034.json
  inflating: 65643.json
  inflating: 65645.json
  inflating: 65647.json
  inflating: 65648.json
  inflating: 65649.json
  inflating: 65653.json
  inflating: 65655.json
  inflating: 65656.json
  inflating: 65716.json
  inflating: 65718.json
  inflating: 66198.json
  inflating: 66374.json
  inflating: 66375.json
  inflating: 64083.json
  inflating: 64100.json
  inflating: 64102.json
  inflating: 64109.json
  inflating: 64110.json
  inflating: 64111.json
  inflating: 1243388.json
  inflating: 1243389.json
  inflating: 1243390.json
  inflating: 1243391.json
  inflating: 1243392.json
  inflating: 1243393.json
  inflating: 1243394.json
  inflating: 1262757.json
  inflating: 1262758.json
  inflating: 1262759.json
  inflating: 1262760.json
  inflating: 1239545.json
  inflating: 1273727.json
  inflating: 1273739.json
  inflating: 1273744.json
  inflating: 1273753.json
  inflating: 1278671.json
  inflating: 1278672.json
  inflating: 1278674.json
  inflating: 1122286.json
  inflating: 1168245.json
  inflating: 1243395.json
  inflating: 1249875.json
  inflating: 1277079.json
  inflating: 1277080.json
  inflating: 1277081.json
  inflating: 1277083.json
  inflating: 1278677.json
  inflating: 1278678.json
  inflating: 1239543.json
  inflating: 1239544.json
  inflating: 1239546.json
  inflating: 1262756.json
  inflating: 1273748.json
  inflating: 1277082.json
  inflating: 1277084.json
  inflating: 1278673.json
  inflating: 1278675.json
  inflating: 1278676.json
  inflating: 1278679.json
  inflating: 1278680.json
  inflating: 1278681.json
  inflating: 1278684.json
  inflating: 1278685.json
  inflating: 1278686.json
  inflating: 1278682.json
  inflating: 1278683.json
  inflating: 1278687.json
  inflating: 1278688.json
  inflating: 64059.json
  inflating: 1278689.json
  inflating: 64047.json
  inflating: 1278690.json
  inflating: 1278691.json
  inflating: 66364.json
  inflating: 66365.json
  inflating: 66367.json
  inflating: 66369.json
  inflating: 66372.json
  inflating: 1303307.json
  inflating: 1303308.json
  inflating: 1320741.json
  inflating: 1188623.json
  inflating: 1262755.json
  inflating: 226363.json
  inflating: 238186.json
  inflating: 258477.json
  inflating: 1276904.json
  inflating: 1276905.json
  inflating: 1276906.json
  inflating: 1276907.json
  inflating: 66207.json
  inflating: 1276908.json
  inflating: 1276909.json
  inflating: 1317900.json

In [3]:
import pandas as pd

In [4]:
import json

In [5]:
f = open('1298178.json')
data = json.load(f)

In [6]:
type(data)

dict

In [34]:
print(data.keys())
"""
Meta -> all the meta data
info -> data,event name etc
innings-> ball by ball data
"""

dict_keys(['meta', 'info', 'innings'])

'\nMeta -> all the meta data\ninfo -> data,event name etc\ninnings-> ball by ball data\n'

In [33]:
title = data['info']['event']['name']
winner = data['info']['outcome']['winner']
toss = data['info']['toss']['winner']
print(f'Title: {title} | Winner: {winner} | Toss-Winner: {toss}')

Title: ICC Men's T20 World Cup | Winner: England | Toss-Winner: England

In [9]:
len(data['innings'])

2

In [10]:
len(data['innings'][0])

3

In [80]:
len(data['innings'][0]['overs'])

20

In [81]:
innings_ind = pd.DataFrame(data['innings'][0]['overs'])

In [103]:
#  over_count = 0
list_of_overs = []

for over_count in range(0,19):
  one = pd.DataFrame(innings_ind['deliveries'].apply(pd.Series).iloc[0])
  one = one[0].apply(pd.Series)
  two = one['runs'].apply(pd.Series)

  # column Selections for merging to remove duplication column
  one = one[['batter','bowler','non_striker']]
  two = two[['extras','total']]
  over_df = pd.merge(one,two,left_index=True,right_index=True)
  list_of_overs.append(over_df)

In [104]:
x = []
x.append(0)
x.append([1,2,3,4])
x.append(over_df)
print(x)

[0, [1, 2, 3, 4],       batter     bowler non_striker  extras  total
0   KL Rahul  BA Stokes   RG Sharma     0.0    4.0
1   KL Rahul  BA Stokes   RG Sharma     0.0    1.0
2  RG Sharma  BA Stokes    KL Rahul     0.0    0.0
3  RG Sharma  BA Stokes    KL Rahul     0.0    1.0
4   KL Rahul  BA Stokes   RG Sharma     0.0    0.0
5   KL Rahul  BA Stokes   RG Sharma     0.0    0.0
6        NaN        NaN         NaN     NaN    NaN]

In [121]:
india_bat = pd.concat(list_of_overs).fillna(0)
india_bat['ball_count'] = [i for i in range(1,len(india_bat)+1)]

In [122]:
india_bat

        batter   bowler non_striker  extras  total  ball_count
0   JC Buttler  B Kumar    AD Hales       1      1           1
1   JC Buttler  B Kumar    AD Hales       0      4           2
2   JC Buttler  B Kumar    AD Hales       0      0           3
3   JC Buttler  B Kumar    AD Hales       0      4           4
4   JC Buttler  B Kumar    AD Hales       0      0           5
..         ...      ...         ...     ...    ...         ...
2   JC Buttler  B Kumar    AD Hales       0      0         108
3   JC Buttler  B Kumar    AD Hales       0      4         109
4   JC Buttler  B Kumar    AD Hales       0      0         110
5   JC Buttler  B Kumar    AD Hales       0      0         111
6   JC Buttler  B Kumar    AD Hales       0      4         112

[112 rows x 6 columns]

In [ ]:
data

In [43]:
one

,batter,bowler,non_striker,runs,0
0,KL Rahul,BA Stokes,RG Sharma,"{'batter': 4, 'extras': 0, 'total': 4}",NaN
1,KL Rahul,BA Stokes,RG Sharma,"{'batter': 1, 'extras': 0, 'total': 1}",NaN
2,RG Sharma,BA Stokes,KL Rahul,"{'batter': 0, 'extras': 0, 'total': 0}",NaN
3,RG Sharma,BA Stokes,KL Rahul,"{'batter': 1, 'extras': 0, 'total': 1}",NaN
4,KL Rahul,BA Stokes,RG Sharma,"{'batter': 0, 'extras': 0, 'total': 0}",NaN
5,KL Rahul,BA Stokes,RG Sharma,"{'batter': 0, 'extras': 0, 'total': 0}",NaN
6,NaN,NaN,NaN,NaN,NaN

In [44]:
two

   batter  extras  total   0
0     4.0     0.0    4.0 NaN
1     1.0     0.0    1.0 NaN
2     0.0     0.0    0.0 NaN
3     1.0     0.0    1.0 NaN
4     0.0     0.0    0.0 NaN
5     0.0     0.0    0.0 NaN
6     NaN     NaN    NaN NaN

In [45]:
one[['batter','bowler','non_striker']]

      batter     bowler non_striker
0   KL Rahul  BA Stokes   RG Sharma
1   KL Rahul  BA Stokes   RG Sharma
2  RG Sharma  BA Stokes    KL Rahul
3  RG Sharma  BA Stokes    KL Rahul
4   KL Rahul  BA Stokes   RG Sharma
5   KL Rahul  BA Stokes   RG Sharma
6        NaN        NaN         NaN

In [47]:
two[['extras','total']]

   extras  total
0     0.0    4.0
1     0.0    1.0
2     0.0    0.0
3     0.0    1.0
4     0.0    0.0
5     0.0    0.0
6     NaN    NaN

en***england***

In [112]:
innings_eng = pd.DataFrame(data['innings'][1]['overs'])

In [115]:
#  over_count = 0
list_of_overs = []

for over_count in range(0,16):
  one = pd.DataFrame(innings_eng['deliveries'].apply(pd.Series).iloc[0])
  one = one[0].apply(pd.Series)
  two = one['runs'].apply(pd.Series)

  # column Selections for merging to remove duplication column
  one = one[['batter','bowler','non_striker']]
  two = two[['extras','total']]
  over_df = pd.merge(one,two,left_index=True,right_index=True)
  list_of_overs.append(over_df)

In [116]:
x = []
x.append(0)
x.append([1,2,3,4])
x.append(over_df)
print(x)

[0, [1, 2, 3, 4],        batter   bowler non_striker  extras  total
0  JC Buttler  B Kumar    AD Hales       1      1
1  JC Buttler  B Kumar    AD Hales       0      4
2  JC Buttler  B Kumar    AD Hales       0      0
3  JC Buttler  B Kumar    AD Hales       0      4
4  JC Buttler  B Kumar    AD Hales       0      0
5  JC Buttler  B Kumar    AD Hales       0      0
6  JC Buttler  B Kumar    AD Hales       0      4]

In [119]:
england_bat = pd.concat(list_of_overs).fillna(0)
england_bat['ball_count'] = [i for i in range(1,len(england_bat)+1)]

In [120]:
england_bat

        batter   bowler non_striker  extras  total  ball_count
0   JC Buttler  B Kumar    AD Hales       1      1           1
1   JC Buttler  B Kumar    AD Hales       0      4           2
2   JC Buttler  B Kumar    AD Hales       0      0           3
3   JC Buttler  B Kumar    AD Hales       0      4           4
4   JC Buttler  B Kumar    AD Hales       0      0           5
..         ...      ...         ...     ...    ...         ...
2   JC Buttler  B Kumar    AD Hales       0      0         108
3   JC Buttler  B Kumar    AD Hales       0      4         109
4   JC Buttler  B Kumar    AD Hales       0      0         110
5   JC Buttler  B Kumar    AD Hales       0      0         111
6   JC Buttler  B Kumar    AD Hales       0      4         112

[112 rows x 6 columns]

In [125]:
india_bat max()

SyntaxError: ignored