<a href="https://colab.research.google.com/github/mohdshahbaaz059/data-science-project/blob/main/Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00445/Absenteeism_at_work_AAA.zip

--2023-04-24 21:52:06--  https://archive.ics.uci.edu/ml/machine-learning-databases/00445/Absenteeism_at_work_AAA.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 66136 (65K) [application/x-httpd-php]
Saving to: ‘Absenteeism_at_work_AAA.zip’

Absenteeism_at_work 100%[===================>]  64.59K  --.-KB/s    in 0.1s

2023-04-24 21:52:07 (457 KB/s) - ‘Absenteeism_at_work_AAA.zip’ saved [66136/66136]

In [2]:
!unzip /content/Absenteeism_at_work_AAA.zip

Archive:  /content/Absenteeism_at_work_AAA.zip
  inflating: Absenteeism_at_work.arff
  inflating: Absenteeism_at_work.csv
  inflating: Absenteeism_at_work.xls
  inflating: Attribute Information.docx
  inflating: UCI_ABS_TEXT.docx

In [3]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('Absenteeism_at_work.csv',sep = ';')
df = df[df['Reason for absence']!=0]
df = df[df['Reason for absence']<=21]

In [6]:
df = pd.read_excel('Absenteeism_at_work.xls')

In [7]:
df

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,11,14,7,3,1,289,36,13,33,264604,...,0,1,2,1,0,1,90,172,30,8
736,1,11,7,3,1,235,11,14,37,264604,...,0,3,1,0,0,1,88,172,29,4
737,4,0,0,3,1,118,14,13,40,271219,...,0,1,1,1,0,8,98,170,34,0
738,8,0,0,4,2,231,35,14,39,271219,...,0,1,2,1,0,2,100,170,35,0
739,35,0,0,6,3,179,45,14,53,271219,...,0,1,1,0,0,1,77,175,25,0

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [8]:
"""
1 Certa"in infectious and parasitic diseases  
2 Neoplasms  
3 Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism  
4 Endocrine, nutritional and metabolic diseases  
5 Mental and behavioural disorders  
6 Diseases of the nervous system  
7 Diseases of the eye and adnexa  
8 Diseases of the ear and mastoid process  
9 Diseases of the circulatory system  
10 Diseases of the respiratory system  
11 Diseases of the digestive system  
12 Diseases of the skin and subcutaneous tissue  
13 Diseases of the musculoskeletal system and connective tissue  
14 Diseases of the genitourinary system  
15 Pregnancy, childbirth and the puerperium  
16 Certain conditions originating in the perinatal period  
17 Congenital malformations, deformations and chromosomal abnormalities  
18 Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified  
19 Injury, poisoning and certain other consequences of external causes  
20 External causes of morbidity and mortality  
21 Factors influencing health status and contact with health services.
"""

'\n1 Certa"in infectious and parasitic diseases  \n2 Neoplasms  \n3 Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism  \n4 Endocrine, nutritional and metabolic diseases  \n5 Mental and behavioural disorders  \n6 Diseases of the nervous system  \n7 Diseases of the eye and adnexa  \n8 Diseases of the ear and mastoid process  \n9 Diseases of the circulatory system  \n10 Diseases of the respiratory system  \n11 Diseases of the digestive system  \n12 Diseases of the skin and subcutaneous tissue  \n13 Diseases of the musculoskeletal system and connective tissue  \n14 Diseases of the genitourinary system  \n15 Pregnancy, childbirth and the puerperium  \n16 Certain conditions originating in the perinatal period  \n17 Congenital malformations, deformations and chromosomal abnormalities  \n18 Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified  \n19 Injury, poisoning and certain other consequences of external causes  \n20 External causes of morbidity and mortality  \n21 Factors influencing health status and contact with health services.\n'

In [16]:
diseases = {
    1: 'infectious',
    2: 'neoplasms',
    3: 'blood_diseases',
    4: 'matabolic-diseases',
    5: 'mental-diseases',
    6: 'nervous system',
    7: 'eye-diseases',
    8: 'ear-diseases',
    9: 'circulatory-diseases',
    10: 'respiratory-diseases',
    11: 'digestive-diseases',
    12: 'skin-diseases',
    13: 'musculoskeletal',
    14: 'genitourinary-system',
    15: 'childbirth',
    16: 'prenatal',
    17: 'chromosomal-abnormalities',
    18: 'lab-findings',
    19: 'injury-poisoning',
    20: 'mortality',
    21: 'contact-health-services',
    }
df['Reason for absence'] = df['Reason for absence'].replace(diseases)

In [17]:
df

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
3,7,eye-diseases,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
8,14,injury-poisoning,7,2,1,155,12,14,34,239.554,...,0,1,2,1,0,0,95,196,25,40
10,20,infectious,7,2,1,260,50,11,36,239.554,...,0,1,4,1,0,0,65,168,23,8
11,20,infectious,7,3,1,260,50,11,36,239.554,...,0,1,4,1,0,0,65,168,23,8
12,20,digestive-diseases,7,4,1,260,50,11,36,239.554,...,0,1,4,1,0,0,65,168,23,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,9,nervous system,7,2,1,228,14,16,58,264.604,...,0,1,2,0,0,1,65,172,22,8
729,9,nervous system,7,3,1,228,14,16,58,264.604,...,0,1,2,0,0,1,65,172,22,120
734,13,musculoskeletal,7,2,1,369,17,12,31,264.604,...,0,1,3,1,0,0,70,169,25,80
735,11,genitourinary-system,7,3,1,289,36,13,33,264.604,...,0,1,2,1,0,1,90,172,30,8
736,1,digestive-diseases,7,3,1,235,11,14,37,264.604,...,0,3,1,0,0,1,88,172,29,4

In [ ]:
df

In [11]:
df = df[df['Reason for absence']!=0]
df = df[df['Reason for absence']<=21]

In [ ]:
df

In [27]:
from collections import Counter

Counts = dict(Counter(df['Reason for absence']))


keys = list(Counts.keys())
values = list(Counts.values())

table = pd.DataFrame()
table['Reason for absence'] = keys
table['count'] = values
table = table.sort_values(by='count',ascending=False).iloc[0:5]
table

     Reason for absence  count
7       musculoskeletal     55
1      injury-poisoning     40
3    digestive-diseases     26
6  respiratory-diseases     25
8          lab-findings     21

5 month **Absenteeism**

In [28]:
df = pd.read_csv('Absenteeism_at_work.csv',sep = ';')

In [43]:
counts = Counter(df['Month of absence'])
table = pd.DataFrame()
table['month'] = counts.keys()
table['absents'] = counts.values()
table = table.sort_values(by='absents',ascending=False).iloc[0:5]
table

    month  absents
8       3       87
7       2       72
3      10       71
0       7       67
10      5       64

In [49]:
counts = Counter(df['Day of the week'])
table = pd.DataFrame()
table['day'] = counts.keys()
table['absents'] = counts.values()
table = table.sort_values(by='absents',ascending=False).iloc[0:3]
table

   day  absents
4    2      161
1    4      156
0    3      154

In [51]:
days = {
    2:'monday',
    3:'Tuesday',
    4:'Wednesday',
    5:'Thusday',
    6:'Friday',
}
df['Day of the week'] = df['Day of the week'].replace(days)
counts = Counter(df['Day of the week'])

table = pd.DataFrame()
table['day'] = counts.keys()
table['absents'] = counts.values()
table = table.sort_values(by='absents',ascending=False).iloc[0:3]
table

         day  absents
4     monday      161
1  Wednesday      156
0    Tuesday      154